@import url('https://fonts.googleapis.com/css2?family=Trebuchet+MS:wght@400;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");
* {
  padding: 0px;
  margin: 0px;
  outline: none;
  box-sizing: border-box;
  border: none;
  list-style: none;
  text-decoration: none;
  transition: all 0.3s ease;
}
.btn {
  color: white;
  background-color: var(--or);
  border: 1px solid var(--or);
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 3px;
  cursor: pointer;
}
:root {
  --grey:#4f4f4f;
  --b: #007bff;
  --l-b: #d1e3ff;
  --or: #ff8a1d;
  --d-b: rgb(10, 15, 67);
  --main-bg:#d1e3ff;
}
body {
  max-width: 100svw;
  max-height: 100svh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
}
/* Start header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--main-bg);
}
header .logo {
  color: var(--b);
  font-size: 24px;
}
header .nav {
  display: flex;
  gap: 10px;
}
header .nav a {
  color: #000;
  transition: 0.3s;
}
header .nav li:first-child a {
  color: var(--b);
}
header .nav a:hover {
  color: var(--b);
}
/* End Header */
/* Start Home page */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 30px;
  background-color: var(--main-bg);
}
.home .home-left{
  width: 45%;
} 
.home-left h2 {
  color: var(--b);
  font-size: 34px;
  padding: 10px;
  margin-bottom: 20px;
}
.home-left p {
  color: grey;
  margin-bottom: 20px;
}
.home .image {
  height: 90%;
}
.home .image img {
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
}
/* End Home Page */
/* Start Buttons */
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: -100px;
}
.btns .btn-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 200px;
  aspect-ratio: 1.35/1;
  font-size: 20px;
  text-transform: uppercase;
  border-color:transparent;
  border-radius: 10px;
  box-shadow: 2px 2px 10px var(--grey);
}
.btns .btn-icon.active, .btns .btn-icon:hover {
  color: white;
  background-color: var(--or);
  border-color: #ff8a1d;
}
/* End Buttons */
/* Start About */
.about {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.about .about-left {
  flex: 1;
}
.about .image {
  flex: 1;
}
.about .about-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}
.about-left h2 {
  font-size: 31px;
}
.about-left p {
  color: grey;
  line-height: 1.5;
}
.about-left .btn {
  border-color: var(--b);
  background-color: var(--b);
}
.about .image {
  max-width: 400px;
  width: 300px;
  aspect-ratio: 1/1;
}
.about .image img {
  max-width: 100%;
  max-height: 100%;
}
/* End About */
/* Start Professional  */
.prof {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  background-color: var(--main-bg);
}
.prof .image{
  flex: 1;
}
.prof .prof-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
  gap: 25px;
}
.prof-right h2 {
  font-size: 31px;
  color: var(--b);
}
.prof-right p {
  color: var(--grey);
}
.prof-right .btn {
  width: fit-content;
}
/* End Professional  */
/* Start Services */
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
}
.services .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.cards .card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 230px;
  aspect-ratio: 1.35/1;
  text-transform: uppercase;
  border-color:transparent;
  box-shadow: 2px 2px 10px var(--grey);
}
.cards .card i {
  font-size: 25px;
}
.cards .card p {
  color: var(--grey);
  text-transform: capitalize;
  font-size: 14px;
  line-height: 1.5;
}
.cards .card:hover{
  color: white;
  background-color: var(--or);
  border-color: #ff8a1d;
}
.cards .card:hover p {
  color: white;
}
.services .btn {
  border-color: var(--b);
  background-color: var(--b);
}
/* End Services */
/* Start Contact */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  width: 85%;
  margin: auto;
}
.contact .contact-left, .contact .contact-frame {
  flex: 1;
}
.contact .contact-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact input:not(input[type="submit"]), .contact textarea {
  display: block;
  margin: 20px 10px 20px 0;
  width: 100%;
  border: 1px solid transparent;
  padding: 10px 20px;
  box-shadow: 2px 2px 10px var(--grey);
}
.contact textarea {
  resize: none;
  line-height: 1.6;
}
.contact .btn {
  padding-left: 20px;
}
/* End Contact */
/* Start Footer */
footer {
  background-color: var(--d-b);
  color: white;
  padding: 20px;
  text-align: center;
}
/* End Footer */
